.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.upload {
  margin-bottom: 20px;
  text-align: center;
}
/*.upload input[type=file] {
  display: none;
}*/
.upload label {
  color: #427788;
}
.button {
  padding: 10px 20px;
  background-color: #427788;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}